.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: $white-color;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
}
@media (max-width: 1154px) {
    .carousel {
        &__inner {
            width: 80%;
        }
        .prev {
            left: -8px;
        }
        .next {
            right: -8px;
        }
    }
}
@media (max-width: 991px) {
    .carousel {
        &__inner {
            width: 60%;
            img {
                width: 80%;
            }
        }
        .prev {
            left: 20px;
        }
        .next {
            right: 20px;
        }
    }
}
@media (max-width: 776px) {
    .carousel {
        padding: 70px 0;
        .prev, .next {
            img {
                width: 60%;
                height: 60%;
            }
        }
    }
}
@media (max-width: 575px) {
    .carousel {
        padding: 55px 0;
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}