.consultation {
    min-height: 680px;
    background: url(../../img/bg/bg2.jpg) center (center/cover) no-repeat;
    padding: 100px 0 92px 100px;
    &__descr {
        margin-top: 80px;
        color: $white-color;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .consultation {
        min-height: 550px;
        padding: 70px 0 62px 60px;
        &__descr {
            margin-top: 65px;
        }
    }
}
@media (max-width: 776px) {
    .consultation {
        padding-left: 0;
    }
}
@media (max-width: 575px) {
    .consultation {
        min-height: 505px;
        padding: 50px 0 40px;
        &__descr {
            margin-top: 50px;
            font-size: 17px;
        }
    }
}